/**
* 1.0 Containers Principais
* 
* Agrupamento dos Containers Principais
*/
#c-menu-system {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-secundario-menu {}

/**
* 2.0 Container Menu
* 
* Componentes do Container Menu
*/

.c-information-menu {
    width: 400px;
    padding: 10px;
    background-color: #ffff;
    border: 5px solid #D5431E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-information-menu__title {
    margin-bottom: 20px;
    color: #18335E;
    align-self: center;
}

.c-information-menu__label {
    color: #D5431E;
    justify-self: flex-start;
}

.c-information-menu__input {
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
    padding-left: 5px;
    background-color: #18335E;
    border: 3px solid #18335E;
    border-radius: 5px;
    color: #fff;
}

.c-information-menu__input::placeholder {
    color: #fff;
    opacity: 50%;
}

/**
* 3.0 Buttom System
* 
* Botões do sistema
*/

.button-system {
    width: 80px;
    height: 50px;
    margin: auto;
    background-color: #18335E;
    color: #ffff;
    border: 3px solid #18335E;
    border-radius: 5px;
    font-size: 1em;
}

.button-system:hover {
    color: #D5431E;
    border: 3px solid #D5431E;
    cursor: pointer;
}

.button-system--big {
    width: 300px;
    height: 30px;
}